{% extends "layout.html" %}
    {% block title %} Brinland {% endblock %}
    {% block stylesheets %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}xmapper/stylesheets/xmapper.css" />
    {% endblock %}
    {% block javascripts %}
    <script src="{{ MEDIA_URL }}xmapper/javascripts/openlayers/OpenLayers.js"></script> 
    <script src="{{ MEDIA_URL }}xmapper/javascripts/jquery-1.4.2.min.js"></script>
    {% endblock %}
    {% block content %}
    <div class="module">
        <script type="text/javascript"> 
            var map;
            jQuery(function (){

                map = new OpenLayers.Map({
                    div: 'map', 
                    maxExtent: new OpenLayers.Bounds(-180, -90, 180, 90)
                });
    
                var options_one = {numZoomLevels: 3, isBaseLayer: true};
    
                var map_one = new OpenLayers.Layer.Image(
                    'Brinland',
                    '{{ MEDIA_URL }}xmapper/images/maps/Brinland_Training_Map_1_light.jpg',
                    new OpenLayers.Bounds(18.040924, 40.598313, 19.006348, 41.113403),

                    new OpenLayers.Size(800, 565),
                    options_one
                );
                
                map_one.events.on({
                    loadstart: function() {
                        OpenLayers.Console.log("loadstart");
                    },
                    loadend: function() {
                        OpenLayers.Console.log("loadend");
                    }
                });

                
                var options_two = {numZoomLevels: 3};

                var map_two = new OpenLayers.Layer.Image(
                    'Brinland updated',
                    '{{ MEDIA_URL }}xmapper/images/maps/Brinland_Training_Map_2.jpg',
                    new OpenLayers.Bounds(18.040924, 40.598313, 19.006348, 41.113403),
                    new OpenLayers.Size(800, 565),
                    options_two
                );

                map.addLayers([map_one, map_two]);

                $("ul.location_type", this).each(function() {
                    var loc_type = $(this);
                    var title = loc_type.attr("id");
                    var markers = new OpenLayers.Layer.Markers(title);
                    map.addLayer(markers)

                    loc_type.children().each(function () {
                        var child = $(this);
                        var lng = child.attr("lng");
                        var lat = child.attr("lat");
                        var data = child.attr("sub");
                        var pin_col = child.attr("pin_col");

                        OpenLayers.Marker.defaultIcon = function() {
                            var url = OpenLayers.Util.getImagesLocation() + pin_col + "_marker.png";
                            var size = new OpenLayers.Size(21, 25);
                            return new OpenLayers.Icon(url, size);
                        };

                        //anchoredbubble
                        AutoSizeAnchoredBubble = OpenLayers.Class(OpenLayers.Popup.AnchoredBubble, {
                            'autoSize': true
                        });

                        //anchored bubble popup wide short fixed contents autosize closebox
                        ll = new OpenLayers.LonLat(lng,lat);
                        popupClass = AutoSizeAnchoredBubble;
                        popupContentHTML = data;
                        addMarker(ll, popupClass, popupContentHTML, true);

                        function addMarker(ll, popupClass, popupContentHTML, closeBox, overflow) {

                            var feature = new OpenLayers.Feature(markers, ll);
                            feature.closeBox = closeBox;
                            feature.popupClass = popupClass;
                            feature.data.popupContentHTML = popupContentHTML;
                            feature.data.overflow = (overflow) ? "auto" : "hidden";

                            var marker = feature.createMarker();

                            var markerClick = function (evt) {
                                if (this.popup == null) {
                                    this.popup = this.createPopup(this.closeBox);
                                    map.addPopup(this.popup);
                                    this.popup.show();
                                } else {
                                    this.popup.toggle();
                                }
                                currentPopup = this.popup;
                                OpenLayers.Event.stop(evt);
                            };
                            marker.events.register("mousedown", feature, markerClick);
                            markers.addMarker(marker);
                        }
                    });
                });
    
                map.addControl(new OpenLayers.Control.LayerSwitcher());
                map.addControl(new OpenLayers.Control.MousePosition());
                map.zoomToMaxExtent();
            });
        </script> 
        <div id="map" class="smallmap">
    
            <span style="display:none;">
                {% if xlocs_by_key %}
                {% for k, v in xlocs_by_key.items %}
                <ul class="location_type" id="{{ k }}">
                    {% for xloc in v %}
                    <li lng="{{ xloc.lng }}" lat="{{ xloc.lat }}" sub="{{ xloc.submitted_data }}" pin_col="{{ xloc.color }}">12:53 15 June 2010</li>
                    {% endfor %}
                </ul>
                {% endfor %}
                {% endif %}
            </span>
        </div>
    </div>
    {% endblock %}
